<div class="text-input">
    Enter Names (Paste Joined Lobby Text):
    <div class="text-area-input">
        <textarea name="Text1" cols="40" rows="5"
                [(ngModel)]="nameInput"
                placeholder="Summoner 1 joined the lobby
Summoner 2 joined the lobby
Summoner 3 joined the lobby
Summoner 4 joined the lobby
Summoner 5 joined the lobby"></textarea>
    </div>
    <div class="enter">
        <button class="btn btn-primary"
                (click)="addNames()"
                [disabled]="!nameInput">
            Submit
        </button>
    </div>

    <div *ngIf="addNamesValid">
        <h4>Type in each dropdown to search for champions:</h4>
        <hr>
        <form #form="ngForm" (ngSubmit)="estimateClick(form)">
            <div class="row">
                <div class="form-group col">
                    <label for="ally0">{{names[0]}}</label>
                    <select id="ally0" class="form-select" name="ally0" [(ngModel)]="champInput.ally0" required #ally0="ngModel">
                        <option *ngFor="let champ of championList" value="{{champ[0]}}">{{champ[1]}}</option>
                    </select>
                    <div [hidden]="ally0.valid || !form.submitted" class="alert alert-danger">Please Select a Champion</div>
                </div>

                <div class=" form-group col">
                    <label for="enemy0">Enemy 1</label>
                    <select id="enemy0" class="form-select" name="enemy0" [(ngModel)]="champInput.enemy0" required #enemy0="ngModel">
                        <option *ngFor="let champ of championList" value="{{champ[0]}}">{{champ[1]}}</option>
                    </select>
                    <div [hidden]="enemy0.valid || !form.submitted" class="alert alert-danger">Please Select a Champion</div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col">
                    <label for="ally1">{{names[1]}}</label>
                    <select id="ally1" class="form-select" name="ally1" [(ngModel)]="champInput.ally1" required #ally1="ngModel">
                        <option *ngFor="let champ of championList" value="{{champ[0]}}">{{champ[1]}}</option>
                    </select>
                    <div [hidden]="ally1.valid || !form.submitted" class="alert alert-danger">Please Select a Champion</div>
                </div>

                <div class=" form-group col">
                    <label for="enemy1">Enemy 2</label>
                    <select id="enemy1" class="form-select" name="enemy1" [(ngModel)]="champInput.enemy1" required #enemy1="ngModel">
                        <option *ngFor="let champ of championList" value="{{champ[0]}}">{{champ[1]}}</option>
                    </select>
                    <div [hidden]="enemy1.valid || !form.submitted" class="alert alert-danger">Please Select a Champion</div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col">
                    <label for="ally2">{{names[2]}}</label>
                    <select id="ally2" class="form-select" name="ally2" [(ngModel)]="champInput.ally2" required #ally2="ngModel">
                        <option *ngFor="let champ of championList" value="{{champ[0]}}">{{champ[1]}}</option>
                    </select>
                    <div [hidden]="ally2.valid || !form.submitted" class="alert alert-danger">Please Select a Champion</div>
                </div>

                <div class=" form-group col">
                    <label for="enemy2">Enemy 3</label>
                    <select id="enemy2" class="form-select" name="enemy2" [(ngModel)]="champInput.enemy2" required #enemy2="ngModel">
                        <option *ngFor="let champ of championList" value="{{champ[0]}}">{{champ[1]}}</option>
                    </select>
                    <div [hidden]="enemy2.valid || !form.submitted" class="alert alert-danger">Please Select a Champion</div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col">
                    <label for="ally3">{{names[3]}}</label>
                    <select id="ally3" class="form-select" name="ally3" [(ngModel)]="champInput.ally3" required #ally3="ngModel">
                        <option *ngFor="let champ of championList" value="{{champ[0]}}">{{champ[1]}}</option>
                    </select>
                    <div [hidden]="ally3.valid || !form.submitted" class="alert alert-danger">Please Select a Champion</div>
                </div>
                <div class=" form-group col">
                    <label for="enemy3">Enemy 4</label>
                    <select id="enemy3" class="form-select" name="enemy3" [(ngModel)]="champInput.enemy3" required #enemy3="ngModel">
                        <option *ngFor="let champ of championList" value="{{champ[0]}}">{{champ[1]}}</option>
                    </select>
                    <div [hidden]="enemy3.valid || !form.submitted" class="alert alert-danger">Please Select a Champion</div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col">
                    <label for="ally4">{{names[4]}}</label>
                    <select id="ally4" class="form-select" name="ally4" [(ngModel)]="champInput.ally4" required #ally4="ngModel">
                        <option *ngFor="let champ of championList" value="{{champ[0]}}">{{champ[1]}}</option>
                    </select>
                    <div [hidden]="ally4.valid || !form.submitted" class="alert alert-danger">Please Select a Champion</div>
                </div>
                <div class=" form-group col">
                    <label for="enemy4">Enemy 5</label>
                    <select id="enemy4" class="form-select" name="enemy4" [(ngModel)]="champInput.enemy4" required #enemy4="ngModel">
                        <option *ngFor="let champ of championList" value="{{champ[0]}}">{{champ[1]}}</option>
                    </select>
                    <div [hidden]="enemy4.valid || !form.submitted" class="alert alert-danger">Please Select a Champion</div>
                </div>
            </div>
            <div>
                <button class="btn btn-primary" [disabled]="gettingEstimate">Get Estimate</button>
            </div>
        </form>
    </div>
    <h2 *ngIf="estimate">{{output}}</h2>

    <h3>How To Use League Winrate Estimator</h3>
    <ol>
        <li>Copy and paste the names of your allies into the text box above and click "Submit"</li>
        <li>Start entering the names of the champions in the dropdown during champ select. It helps if you start putting entering the names while players are hovering
            <ul>
                <li>You can search for champions by typing the in the dropdown.</li>
            </ul>
        </li>
        <li>Press "Get Estimate" and in few seconds the percentage of your team winning the game will be shown!</li>
    </ol>

    <h3>What Is League Winrate Estimator?</h3>
    <div>One of the most frustrating things in League Of Legends is getting a bad ranked team with little chance of winning. Although many websites and apps out there will quickly and easily give you all the stats you would ever want on your team, it is difficult to know how these different data points interact and if it's going to be a close game or a complete stomp. League Winrate Estimator helps you make informed decisions by considering all these factors and giving you a percentage change of winning a game before champ select ends.</div>
    <div>League Winrate Estimator is a machine learning-based web application that takes in the names and champions of players in a ranked lobby and predicts which team will win. The win rate for a given lobby is calculated using each player's ranked win rate, champion overall win rate, and player-specific champion win rate. The currently deployed version of the model was trained without any enemy player information so that it can be used in champ select.</div>
    <div>This "One Sided" model was trained using ~3600 ranked games (~400 games from each division ranging from Gold 1 to Diamond 1), and preliminary testing of 300 randomly selected games from Iron 4 to Diamond 1 gave an 82% accuracy rate in predicting the correct outcome.</div>

    <h3>About the Creator</h3>
    <div>Hi, I am Adrian! I am a current second-year computer science major excited about machine learning and its limitless possibilities. I built League Winrate Estimator as a personal hobby project after constantly hearing people complain about getting bad teams. I wanted to create something that could help benefit the League of Legends community, and I hope LWE will become a helpful tool throughout your ranked climb!</div>
    <div>If you liked League Winrate Estimator, I also have a few more ideas I want to build, so keep an eye out for those in the future!</div>
    
    <h3>More Info</h3>
    <div>League Winrate Estimator is not a crystal ball and can only give you an idea of how difficult a game will be. League of Legends is a complex game, and the outcome cannot be solely predicted from champ select. It is still up to you as the player to decide whether to dodge or not.</div>
    <div><strong>About Ads: </strong>I know that no one likes ads, and personally, I have an ad blocker, but if you like League Winrate Estimator, please consider turning off your ad blocker. I won't spam the page with 10 million ads, slowing down the website, just to make a few more pennies. I have also restricted ads to only one banner at the bottom of the screen, so turning off your ad blocker should not impact your experience. Google Adsense is a cost-per-click model, so if an ad shows something you want, clicking on it will support me.</div>
    <div>If you have any questions or concerns please reach out to me at: leaguewinrate@gmail.com</div>
